.add-new{
    border: none;
    background: inherit;
    font-size: 30px;
    color: gray;
    cursor: pointer;
    text-align: center;
    transition: .2s;
}

.add-new:hover{
    color: var(--clr-accent-blue);
}