.task, .date-time-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-time-container{
    gap: 10px;
}

.task{
    justify-content: space-between;
}

.task input{
    transform: scale(1.5);
}