.outer-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-container{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
}

.upper-container>h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.upper-container, .lower-container{
    padding: 40px ;
    padding-bottom: 20px;
}

.upper-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--clr-accent-lightgray);
    margin-bottom: 20px;
}

.lower-container{
    width: 100%;
}

.lower-container.tasks-overdue *{
    color: red;
}

.no-tasks{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.outer-wrap{
    margin: 0 auto;
    margin-top: 50px;
}

@media(max-width: 768px)
{
    .outer-wrap{
        width: auto;
        height: 100%;
        margin: auto;
    } 
    .upper-container>h1{
        font-size: 30px;
    }
}