.status-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.status-container>.active{
    color: var(--clr-accent-blue);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.status-container>span{
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
}

.status-container>span:hover{
    transition: .2s;
    color: var(--clr-accent-blue);
}